fastapi==0.115.0
uvicorn[standard]==0.30.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
sqlalchemy[asyncio]==2.0.34
psycopg[binary]
neo4j==5.23.0
pydantic==2.8.2
python-dotenv==1.0.1
bcrypt==4.3.0
Pillow==10.4.0
pytesseract==0.3.13
